<!DOCTYPE html>

<html lang = "es" >
<meta charset="utf-8">
<meta name="viewport" content="width=400, initial-scale=1,  user-scalable=no">

<link href="static/core/css/bootstrap.min.css" rel="stylesheet">
<link href="static/usuarios/css/main.css" rel="stylesheet">
<link href="static/usuarios/css/modal.css" rel="stylesheet">


<!-- header -->

<header id="" class="header">

	<!-- Button trigger modal -->

	<!-- Modal -->

	<div class="container">

		<section class="pull-right">
			<a class="login" href="#login" data-toggle="modal">  Iniciar Sesion  </a> <a class="login">/</a> <a class="singup" href="#singup" data-toggle="modal"> Registrarse </a>
		</section>
		{% include 'usuarios/log_in.html'%}
		{% include 'usuarios/Sing_up.html'%}
	</div>
</header>

<!-- /header -->

<!-- carousel -->
<section class="section-body">
	<div id="carouselCall" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#carouselCall" data-slide-to="0" class="active"></li>
			<li data-target="#carouselCall" data-slide-to="1" class=""></li>
			<li data-target="#carouselCall" data-slide-to="2" class=""></li>
			<li data-target="#carouselCall" data-slide-to="3" class=""></li>
			<li data-target="#carouselCall" data-slide-to="4" class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				<div class="desc tit">
					<h2>Nuestros Servicios</h2>
					<div class="tit-line"></div>
					<span class="tit-ext3"></span>
					<span class="tit-ext4"></span>
				</div>
				<img src="">
			</div>
			<div class="item">
				<div class="desc tit">
					<h2>Como Funciona</h2>
					<div class="tit-line"></div>
					<span class="tit-ext3"></span>
					<span class="tit-ext4"></span>
				</div>
				<img src="">
			</div>
			<div class="item">
				<div class="desc tit">
					<h2>Perfiles De Usuario</h2>
					<div class="tit-line"></div>
					<span class="tit-ext3"></span>
					<span class="tit-ext4"></span>
				</div>
				<img src="">
			</div>
			<div class="item">
				<div class="desc tit">
					<h2>Acerca de nosotros</h2>
					<div class="tit-line"></div>
					<span class="tit-ext3"></span>
					<span class="tit-ext4"></span>
				</div>
				<img src="">
			</div>
			<div class="item">
				<div class="desc tit">
					<h2>Galeria de Imagenes</h2>
					<div class="tit-line"></div>
					<span class="tit-ext3"></span>
					<span class="tit-ext4"></span>
				</div>
				<img src="">
			</div>
		</div>
		<a class="left carousel-control" href="#carouselCall" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#carouselCall" data-slide="next">
			<span class="icon-next"></span>
		</a>
	</div>
</section>
<!-- /carousel -->

<!-- fotter -->
{% include 'footer.html'%}
<!--- /fotter -->


<script src="static/core/js/jquery.min.js"></script>
<script src="static/core/js/bootstrap.min.js"></script>



