<!DOCTYPE html>

<html lang = "es" >
<meta charset="utf-8">
<meta name="viewport" content="width=400, initial-scale=1,  user-scalable=no">

<link href="static/core/css/bootstrap.min.css" rel="stylesheet">
<link href="static/usuarios/css/main.css" rel="stylesheet">


<!-- header -->
<header id="" class="header">

	<!-- Button trigger modal -->
	<a class="login" data-toggle="modal" href="#myModal" class="">Iniciar/Registrarse</a>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
				...
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</header>
<!-- /header -->

<!-- carousel -->
<section class="section-body">
	<div id="carouselCall" class="carousel slide">
		<ol class="carousel-indicators">
			<li data-target="#carouselCall" data-slide-to="0" class="active"></li>
			<li data-target="#carouselCall" data-slide-to="1" class=""></li>
			<li data-target="#carouselCall" data-slide-to="2" class=""></li>
			<li data-target="#carouselCall" data-slide-to="3" class=""></li>
			<li data-target="#carouselCall" data-slide-to="4" class=""></li>
		</ol>
		<div class="carousel-inner">
			<div class="item active">
				0
				<img src="">
			</div>
			<div class="item">
				1
				<img src="">
			</div>
			<div class="item">
				2
				<img src="">
			</div>
			<div class="item">
				3
				<img src="">
			</div>
			<div class="item">
				4
				<img src="">
			</div>
		</div>
		<a class="left carousel-control" href="#carouselCall" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="right carousel-control" href="#carouselCall" data-slide="next">
			<span class="icon-next"></span>
		</a>
	</div>
</section>
<!-- /carousel -->

<!-- fotter -->
{% include 'footer.html'%}
<!--- /fotter -->


<script src="static/core/js/jquery.min.js"></script>
<script src="static/core/js/bootstrap.min.js"></script>



